@page
@using ApiTestDemo.Api.Models
@model IndexModel
@{
    ViewData["Title"] = "Ödev";
}
<title>Ödev</title>

<style>
    body {
        font-family: 'Palatino Linotype';
    }

    .button-container {
        text-align: center;
    }
</style>
<style>
    table, td, th {
        border: 1px solid;
    }

    table {
        width: 100%;
        border-collapse:initial;
    }
</style>

<style>
    table.ortala {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<script>

    $(document).ready(function () {
        // İlk etapta tüm alt satırları gizle
        $('.child-row').hide();

        // Üst satırların tıklanabilirliğini sağlama
        $('.button').click(function () {
            $(this).closest('tr').nextUntil('.parent-row').toggle();
        });
    });

</script>

<div>
    <table class="ortala" cellpadding="10" cellspacing="0">

        <thead class="table-light">
        <tr>
            <th style="text-align: center;">Detay</th>
            <th style="text-align: center;">Hesap Kodu</th>
            <th style="text-align: center;">Toplam Borç</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Items.GroupBy(s => s.hesap_kodu))
        {
                <tr class="parent-row">
                    <td class="button" style="width: 80px;">
                    <div class="button-container">
                        <button>+</button>
                    </div>
                </td>
                    <td style="text-align: center;">
                    @item.Key
                </td>
                <td style="text-align: center;">
                    @foreach (var subItem in Model.GetChildren(item.Key).GroupBy(s => string.Join('.', s.hesap_kodlari.Take(2))))
                    {
                        @foreach (var subItem2 in Model.GetChildren(subItem.Key))
                        {
                            <li type="none" style="color:red">@(subItem2.borc.HasValue ? subItem2.borc : "0") TL</li>
                        }
                    }
                </td>
            </tr>
            <tr class="child-row">
                <td></td>
                <td style="text-align: center;">Alt Hesap Kodu</td>
                <td style="text-align: center;">Alt Toplam Borç</td>
            </tr>
        }
        </tbody>
    </table>
</div>







