@page
@model IndexModel
@{
    ViewData["Title"] = "Table";
}

<title>Ödev</title>

<!-- <style>
    table, th, td {
        border: 1px solid #ddd
    }

    th, td {
        padding: 10px;
        text-align: left
    }

    thead {
        background-color: #fff
    }

    button {
        border: none;
        padding: 5px 10px;
        cursor: pointer
    }

        button p {
            margin: 0
        }

    tr:nth-child(2n) {
        background: #CCC
    }

    .form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: fit-content;
        gap: 10px
    }
</style> -->

<style>
    body {
        font-family: 'Palatino Linotype';
    }

    .button-container {
        text-align: center;
    }
</style>
<style>
    table, td, th {
        border: 1px solid;
    }

    table {
        width: 75%;
        border-collapse: initial;
    }
</style>

<style>
    table.ortala {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<script>

    $(document).ready(function () {
      
        $('.child-row').hide();

       
        $('.button').click(function () {
            $(this).closest('tr').nextUntil('.parent-row').toggle();
        });
    });

</script>

<div>
    <table class="ortala" cellpadding="10" cellspacing="0">

        <thead class="table-light">
            <tr>
                <th style="text-align: center;">Detay</th>
                <th style="text-align: center;">Hesap Kodu</th>
                <th style="text-align: center;">Toplam Borç</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items.GroupBy(s => s.hesap_kodu))
            {
                <tr class="parent-row">
                    <td class="button" style="width: 80px;">
                        <div class="button-container">
                            <button>+</button>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        @item.Key
                    </td>
                    <td style="text-align: center;">
                        @foreach (var subItem in Model.GetChildren(item.Key).GroupBy(s => string.Join('.', s.hesap_kodlari.Take(2))))
                        {
                            @foreach (var subItem2 in Model.GetChildren(subItem.Key))
                            {
                                <li type="none" style="color:red">@(subItem2.borc.HasValue ? subItem2.borc : "0") TL</li>
                            }
                        }
                    </td>
                </tr>
                @foreach (var subItem in Model.GetChildren(item.Key).GroupBy(s => string.Join('.', s.hesap_kodlari.Take(2))))
                {
                    <tr class="child-row">
                        <td></td>
                        <td style="text-align: center;">@subItem.Key</td>
                        <td style="text-align: center;">
                            <ul>
                                @foreach (var subItem2 in Model.GetChildren(subItem.Key))
                                {
                                    <li type="none" style="color:red">@(subItem2.borc.HasValue ? subItem2.borc : "0") TL</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



